<div class="two-column-layout">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7 col-sm-12 col-xs-12">
                <!-- panel one start -->
                <div class="panel country-selector">
                    <div class="panel-content">
                        <div #main style="width: 100%; height: 80vh"></div>
                    </div>
                    <!-- panel one End -->
                </div>
            </div>
            <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="back-btn">
                    <a mat-stroked-button
                        routerLink="/comparative-result"
                        ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="20"
                            viewBox="0 0 24 20"
                            fill="none"
                        >
                            <path
                                d="M6 10L5.35982 10.7682L4.43795 10L5.35982 9.23178L6 10ZM11.3598 15.7682L5.35982 10.7682L6.64018 9.23178L12.6402 14.2318L11.3598 15.7682ZM5.35982 9.23178L11.3598 4.23178L12.6402 5.76822L6.64018 10.7682L5.35982 9.23178Z"
                                fill="#C4C4C4"
                            />
                            <path
                                d="M12 10L11.3598 10.7682L10.438 10L11.3598 9.23178L12 10ZM17.3598 15.7682L11.3598 10.7682L12.6402 9.23178L18.6402 14.2318L17.3598 15.7682ZM11.3598 9.23178L17.3598 4.23178L18.6402 5.76822L12.6402 10.7682L11.3598 9.23178Z"
                                fill="#C4C4C4"
                            /></svg
                        >&nbsp;&nbsp;&nbsp;Go Back</a
                    >
                </div>

                <!-- panel one start -->
                <div class="panel comparative-details">
                    <div class="panel-content">
                        <div class="compartive-table-details">
                            <div class="table-details-heading">
                                <h5 *ngIf="governanceName">
                                    {{ governanceName }}
                                </h5>
                                <div class="detail-btn">
                                    <a
                                        mat-stroked-button
                                        (click)="toggleCharts()"
                                        >{{
                                            toggle
                                                ? "Bar Chart"
                                                : "Bubble Chart"
                                        }}</a
                                    >
                                </div>
                            </div>
                            <div class="table-com">
                                <div>
                                    <div
                                        [class]="
                                        toggle ? 'hideChart' : 'showChart'
                                        "            
                                    >
                                        <div
                                            id="chartdiv2"
                                            style="
                                                width: 500px;
                                                height: 250px;
                                                margin: 40px auto;
                                            "
                                        >
                                            <div id="barGraph"></div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div
                                        [class]="
                                        toggle ? 'showChart' : 'hideChart'
                                        "
                                        id="chartdiv1"
                                    >
                                        <div
                                            id="bubble"
                                            style="
                                                width: 400px;
                                                height: 250px;
                                                margin: 0 auto;
                                            "
                                        ></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- panel one End -->
                <!-- panel one start -->
                <div class="panel comparative-details">
                    <div class="panel-content"></div>
                    <div class="panel-content">
                        <div class="detail-btn">
                            <a
                                mat-stroked-button
                                routerLink="/comparative-result-detail"
                                >More details</a
                            >
                        </div>
                        <div class="select-country-area">
                            <div class="country-label table-details-heading">
                                <h5 *ngIf="developmentName">
                                    {{ developmentName }}
                                </h5>
                                <h5>{{ ultimate }}</h5>
                            </div>
                            <div class="status-badge" *ngIf="compareCountry">
                                <ul>
                                    <li>
                                        <span
                                            class="circle_badge success"
                                        ></span>
                                        {{ compareCountry[0] }}
                                    </li>
                                    <li>
                                        <span class="circle_badge blue"></span>
                                        {{ compareCountry[1] }}
                                    </li>
                                </ul>
                            </div>
                            <!-- country dropdown start -->
                            <!-- country dropdown End -->
                        </div>
                        <div class="compartive-table-details">
                            <div class="table-com">
                                <div class="vertical-tab-content">
                                    <div id="container">
                                        <div class="list" id="one">
                                            <div class="data-vertical-label">
                                                <h3>Indicators</h3>
                                                <h3>Comparison</h3>
                                            </div>
                                            <mat-accordion>
                                                <mat-expansion-panel
                                                    [expanded]="0"
                                                    hideToggle
                                                >
                                                    <mat-expansion-panel-header>
                                                        <mat-panel-title>
                                                            {{ultimateName}}
                                                        </mat-panel-title>
                                                        <mat-panel-description>
                                                        </mat-panel-description>
                                                    </mat-expansion-panel-header>
                                                    <div
                                                        class="accordion-content"
                                                    >
                                                        <div
                                                            class="content-row"
                                                            *ngIf="tableData"
                                                        >
                                                            <mat-accordion
                                                                *ngFor="
                                                                    let data of tableData;
                                                                    let k = index
                                                                "
                                                            >
                                                                <div
                                                                    class="content-inner"
                                                                >
                                                                    <mat-expansion-panel
                                                                        hideToggle
                                                                    >
                                                                        <mat-expansion-panel-header>
                                                                            <div
                                                                                class="left-content col-md-7"
                                                                            >
                                                                                <mat-panel-title>
                                                                                    {{
                                                                                        object(
                                                                                            data
                                                                                        )
                                                                                    }}
                                                                                </mat-panel-title>
                                                                            </div>
                                                                            <div
                                                                                class="right-content col-md-5"
                                                                                style="
                                                                                    display: flex;
                                                                                "
                                                                            >
                                                                                <div
                                                                                    *ngFor="
                                                                                        let countryscore of sortedTableData[
                                                                                            k
                                                                                        ][
                                                                                            object(
                                                                                                data
                                                                                            )
                                                                                        ]; let i = index
                                                                                    "
                                                                                    class="country-2"
                                                                                >
                                                                                    <Span>
                                                                                        <!-- {{indicator.countries[1]}} -->
                                                                                        <mat-icon
                                                                                            >arrow_drop_up
                                                                                        </mat-icon>
                                                                                    </Span>
                                                                                    <div
                                                                                        class="rating"
                                                                                    >
                                                                                        <ng-container
                                                                                            *ngFor="
                                                                                                let value of tableScoreArray
                                                                                            "
                                                                                        >
                                                                                            <ng-container>
                                                                                                <span
                                                                                                    *ngIf="
                                                                                                        value <=
                                                                                                            countryscore;
                                                                                                        else grey
                                                                                                    "
                                                                                                    [class]=" i == 0 ? 'green' : 'blue' "
                                                                                                >
                                                                                                </span>
                                                                                                <ng-template
                                                                                                    #grey
                                                                                                >
                                                                                                    <span
                                                                                                        class="gray"
                                                                                                    ></span>
                                                                                                </ng-template>
                                                                                            </ng-container>
                                                                                        </ng-container>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <mat-panel-description>
                                                                                <mat-icon
                                                                                    >arrow_drop_down</mat-icon
                                                                                >
                                                                            </mat-panel-description>
                                                                        </mat-expansion-panel-header>
                                                                        <div
                                                                            class="content-row"
                                                                        >
                                                                            <div
                                                                                class="query-right-content col-md-12"
                                                                                *ngFor="
                                                                                    let innerData of object(
                                                                                        data[
                                                                                            object(
                                                                                                data
                                                                                            )
                                                                                        ]
                                                                                    );
                                                                                    let i = index
                                                                                "
                                                                            >
                                                                                <div
                                                                                    class="query-name col-md-6"
                                                                                >
                                                                                    {{
                                                                                        innerData
                                                                                    }}
                                                                                </div>

                                                                                <div
                                                                                    *ngFor="
                                                                                        let item of data[
                                                                                            object(
                                                                                                data
                                                                                            )
                                                                                        ][
                                                                                            innerData
                                                                                        ]
                                                                                    "
                                                                                    class="country-1 col-md-2"
                                                                                >
                                                                                    <div
                                                                                        class="rating"
                                                                                    >
                                                                                        <span
                                                                                            *ngIf="
                                                                                                item.status ==
                                                                                                'Yes'
                                                                                            "
                                                                                            class="green success"
                                                                                        ></span>
                                                                                        <span
                                                                                            *ngIf="
                                                                                                item.status ==
                                                                                                'No'
                                                                                            "
                                                                                            class="alert-red danger"
                                                                                        ></span>
                                                                                        <span
                                                                                            *ngIf="
                                                                                                item.status ==
                                                                                                undefined
                                                                                            "
                                                                                            class="gray disable-status"
                                                                                        ></span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </mat-expansion-panel>
                                                                </div>
                                                            </mat-accordion>
                                                        </div>
                                                    </div>
                                                </mat-expansion-panel>
                                            </mat-accordion>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- panel one End -->
                <!-- panel one start -->
                <div class="panel comparative-details">
                    <div class="panel-content">
                        <div class="compartive-table-details">
                            <div class="table-details-heading">
                                <div class="status-table">
                                    <h5>{{ ultimateName }}</h5>
                                </div>
                            </div>
                            <div class="table-com">
                                <div
                                    echarts
                                    [options]="chartOptionRadar"
                                    class="demo-chart"
                                ></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- panel one End -->
            </div>
        </div>
    </div>
</div>
